div {
	border: 1px solid black;
	min-width: 100px;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.calendar {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-template-rows: auto auto auto auto auto auto auto auto;
}

.calendar_year_label {
	grid-column: 1 / 8;
	background-color: green;
}

.calendar_weekday_label {
	background-color: green;
}

.calendar_day {
	background-color: lightgreen;
	text-align: left;
}
