div {
	min-width: 100px;
	text-align: center;
}

.calendar_row {
	display: flex;
	flex-direction: column;
}

.calendar_columns {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	flex: 1;
}

.calendar_year_label {
	background-color: green;
	flex: 1 1;
}

.calendar_weekday_label {
	background-color: green;
	flex: 1 1;
}

.calendar_day {
	background-color: lightgreen;
	text-align: left;

	flex: 1 1;
}
